<div class="container">
    <div class="white-box">
      <h2>Demo Project</h2>
      <div class="featured">
        
        <br><br>
        <div class="form-group">
            <label for="college">College:</label>
            <select class="form-control" id="college" [(ngModel)]="Value"  name="college_name" required>
              <option value="college">SIMAT</option>
              <option value="college">NSS</option>
            </select>
       </div> <br><br>
       <div class="form-group"  *ngIf="Value == 'college'">
        <label for="college">Course:</label>
        <select class="form-control"  id="coursename" [(ngModel)]="selectedValue" name="course_name" required>
          <option value="course">Compurt Science</option>
          <option value="course">Electrical</option>
          <option value="course">Mechanical</option>
          <option value="others">Others- Please Specify </option>
        </select>
        </div ><br><br>
           <div class="form-group" *ngIf="selectedValue == 'others'"> 
            <label for="name">Enter College Name:</label>
            <input type="text" class="form-control" id="name" name="other_college_name" required>
          </div>
        <div><button type="submit" style="border-radius: 12px;" class="btn">Submit</button></div>
      </div>
      
    
    </div>
  </div>
  
  
  
  
  
  